body {
  margin: 0;
}

.head {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 113px;
  background: rgba(236, 227, 240, 1);
  text-align: right;
}

.bgcolor {
  display: none;
}

#button-home,
#button-make,
#button-list {
  display: inline-block;
  width: 168px;
  height: 113px;
  line-height: 113px;
  left: 777px;
  font-family: Arimo;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  color: rgba(37, 37, 37, 1);
}

.head .selected {
  background: rgba(163, 158, 177, 1) !important;
  font-weight: 700 !important;
  color: rgba(235, 235, 235, 1) !important;
}

.home {
  position: absolute;
  background: url(images/bg1.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.home .bgcolor {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(211, 187, 221, 0.4);
}

.home .title {
  position: absolute;
  top: 258px;
  right: 120px;
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  text-align: right;
  color: #f3edeb;
}

.home .text {
  position: absolute;
  width: 521px;
  top: 395px;
  right: 120px;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: right;
  color: #ffffff;
}

.make {
  display: none;
  position: absolute;
  background: url(images/bg2.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 100%;
}

.make .bgcolor {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(156, 137, 164, 0.6);
}

.make .title {
  width: 985px;
  margin: 174px auto 0 auto;
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 68px;
  text-align: center;
  color: #f3edeb;
}

.make .text {
  margin: 10px auto 0 auto;
  width: 692px;
  height: 74px;

  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
}

.make .container {
  margin: 22px auto 96px auto;
  padding: 54px;
  width: 685px;
  height: 541px;
  background: rgba(243, 237, 235, 0.8);
}

.make .name {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
}

.make select {
  width: 683px;
  height: 61px;
  background: #f7f7f7;
  margin: 13px 0 33px 0;
  border: 0;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

.make button {
  float: right;
  width: 266px;
  height: 61px;
  background: #857380;
  font-family: Arimo;
  font-size: 35px;
  font-weight: 700;
  line-height: 61px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border: 0;
  margin-top: 44px;
}

.popup-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.make .popup {
  margin: 253px auto 0 auto;
  left: 0;
  right: 0;
  width: 957px;
  height: 550px;
  padding-top: 1px;

  background: #e6dee0;
  border-radius: 49px;
}

.popup-title {
  width: 100%;
  text-align: center;
  margin-top: 34px;
  font-family: Aclonica;
  font-size: 50px;
  font-weight: 400;
  line-height: 56.67px;
  color: rgba(133, 115, 128, 1);
}

.popup .img {
  display: inline-block;
  margin: 20px 32px 28px 145px;
  width: 251px;
  height: 332px;
  background: url(images/Image6.jpg) 50% 50%;
  background-size: cover;
}

.popup .texts {
  width: 499px;
  display: inline-block;
  position: absolute;
}

.popup .text1 {
  margin-top: 20px;
  font-family: Arimo;
  font-size: 35px;
  font-weight: 400;
  color: rgba(133, 115, 128, 1);
}

.popup .text2 {
  margin-top: 15px;
  font-family: Arimo;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}

.popup .text3 {
  margin-top: 29px;
  font-family: Arimo;
  font-size: 25px;
  font-weight: 400;
  color: rgba(133, 115, 128, 1);
}
.popup .difficulty {
  display: inline-block;
  height: 26px;
  width: 100px;
  background: url(images/Star.png);
}

.popup .button-left,.popup .button-right {
  display: inline-block;
  width: 300px;
  height: 52px;
  line-height: 52px;
  font-family: Arimo;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  color: rgba(243, 237, 235, 1);
  text-align: center;
  background-size: auto 100%;
  text-align: center;
}
.popup .button-left {
  background-image: url(images/button-left.png);
background-position: left;
padding-left: 30px;
margin-right: 95px;
}
.popup .button-right {
  background-image: url(images/button-right.png);
background-position: right;
padding-right: 30px;
}

.popup .button-triangle {
  width: 70px;
  height: 73px;
  background: #857380;
  border-radius: 6px;
  transform: rotate(-90deg);
}

.list {
  display: none;
  position: absolute;
  background: url(images/bg3.jpg) no-repeat center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.list .bgcolor {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(156, 137, 164, 0.6);
}

.list .title {
  margin: 153px auto 40px auto;
  width: 846px;
  font-family: "Aclonica";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 79px;
  color: #f3edeb;
}

.list .container {
  margin: 0 auto;
  width: 846px;
  min-height: 168px;
  background: rgba(243, 237, 235, 0.8);
  padding: 1px 0;
}
.list .plan {
  background: url(images/Image7.jpg) 100%;
  background-size: cover;
  position: relative;
  width: 713px;
  height: 216px;
  margin: 55px;
  border-radius: 25px;
}
.list .text {
  font-family: Arimo;
  font-size: 60px;
  font-weight: 400;
  line-height: 68.99px;
  text-align: center;
  color: rgba(235, 235, 235, 1);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.list .time {
  position: absolute;
  bottom: -35px;
  font-family: Arimo;
  font-size: 25px;
  font-weight: 400;
}
.list .delete {
  position: absolute;
  right: -58px;
  width: 50px;
  top: 0;
}
.head .logo {
  position: absolute;
  width: 81px;
  left: 19px;
  top: 16px;
}
.home .logo {
  display: none;
}

@media (max-width: 480px) {
  .head {
    height: 52px;
    text-align: left;
    font-size: 0;
  }
  #button-home,
  #button-make,
  #button-list {
    width: 33%;
    height: 52px;
    line-height: 52px;
    left: 0;
    font-size: 16px;
  }
  .head .logo {
    display: none;
  }
  .home .logo {
    display: block;
    position: absolute;
    top: 22%;
    width: 40%;
    left: 30%;
    z-index: 4;
  }
  .home .title {
    width: 100%;
    right: 0;
    top: 45%;
    font-size: 35px;
    font-weight: 400;
    text-align: center;
  }
  .home .text {
    display: none;
  }
  .make .text {
    display: none;
  }
  .make .title {
    width: 58%;
    font-size: 40px;
    line-height: 45px;
    margin: 115px auto 0 auto;
  }
  .make .container {
    width: 305px;
    height: 285px;
    padding: 22px;
  }
  .make .name {
    font-size: 18px;
    line-height: 21px;
  }
  .make select {
    width: 100%;
    height: 26px;
    font-size: 13px;
    margin: 7px 0 21px 0;
  }
  .make button {
    width: 112px;
    height: 25px;
    font-size: 18px;
    line-height: 11px;
    margin-top: 10px;
  }
  .make .popup {
    margin: 90px auto 0 auto;
    left: 0;
    right: 0;
    width: 316px;
    height: auto;
    border-radius: 49px;
  }
  .popup-title {
    width: 100%;
    margin-top: 24px;
    font-size: 22px;
    line-height: 25px;
  }
  .popup .img {
    display: block;
    margin: 10px auto 0 auto;
    width: 213px;
    height: 135px;
  }
  .popup .text1 {
    margin-top: 14px;
    font-size: 25px;
  }
  .popup .text2 {
    margin-top: 13px;
    font-size: 15px;
  }
  .popup .texts {
    position: relative;
    left: 40px;
    width: 250px;
  }
  .popup .text3 {
    font-size: 20px;
    margin-top: 15px;
  }
.popup .button-left,.popup .button-right {          
    width: 196px;
    height: 31px;
    font-size: 15px;
    line-height: 31px;
    margin: 18px auto;
  }
  .popup .button-left {
    padding-left: 23px;
  }
  .popup .button-right {
    margin-top: 0;
    padding-right: 23px;
  }
  .list .title {
    margin: 92px auto 40px auto;
    width: 82%;
    font-size: 30px;
    line-height: 34px;
  }
  .list .container {
    width: 82%;
  }
  .list .plan {
    margin: 10.6%;
    position: relative;
    width: 75.7%;
    height: 87px;
    border-radius: 16px;
  }
  .list .text {
    font-size: 18px;
    line-height: 28px;
  }
  .list .time {
    font-size: 15px;
    line-height: 17px;
    bottom: -22px;
  }
  .list .delete {
    width: 18px;
    right: -22px;
  }
}